
<section class="section topics-section">   
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-3">HRM Windows Topics</h2>                
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="boxtopics">
                    <h3>Get started</h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> text of the printing</a></li>
                        <li><a href="#"> <i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> standard dummy text ever</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="boxtopics">
                    <h3>Get started</h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> text of the printing</a></li>
                        <li><a href="#"> <i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> standard dummy text ever</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="boxtopics">
                    <h3>Get started</h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> text of the printing</a></li>
                        <li><a href="#"> <i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> standard dummy text ever</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="boxtopics">
                    <h3>Get started</h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> text of the printing</a></li>
                        <li><a href="#"> <i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> standard dummy text ever</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> Lorem Ipsum is simply dummy</a></li>
                    </ul>

                </div>
            </div>

        </div>
    
    </div>    
    </section>