
<section class="section topics-section" style="background: #fafafa;">   
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mb-3">ESS Windows Topics</h2>                
            </div>            
        </div>
        <div class="row equal">
            {% assign sidebar1 = site.data.homeTopicList.entries %}
            {% for entry in sidebar1 %}
                {% if entry.topic contains "ESS" %}   
                    {% for folderitem in entry.topicList %}
                        <div class="col-sm-3">
                            <div class="boxtopics">
                                <h3>{{folderitem.name}}</h3>
                                
            
                                <ul>
                                    {% for lists in folderitem.list %}
            
                                    <li><a title="{{lists.title}}" href="{{lists.url | remove: "/"}}"> <i class="fa fa-caret-right"></i>   {{lists.title}}</a></li>
            
                                    {% endfor %}
                                </ul>
            
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            {% endfor %}

        </div>
    
    </div>    
    </section>